{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="col-md-5 m-auto">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="display-5">Tunaweza<br>Please create an account!</h1>
    <hr/>
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.phoneNumber) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-lg btn-primary mt-1">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
